<div class="row justify-content-center">
  <div class="auth">
    <div class="auth__box">
      <h3 class="auth__title">Login</h3>
      <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
        <mat-form-field class="d-block">
            <input  matInput
                    placeholder="Email"
                    type="text"
                    id="email"
                    formControlName="email">
            <mat-error *ngIf="isInvalidForm('email')" >
              <div *ngIf="isRequired('email')">Email is required</div>
              <div *ngIf="loginForm.controls['email'].errors.pattern">Must be valid email format!</div>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="d-block">
            <input  matInput
                    placeholder="Password"
                    type="password"
                    id="password"
                    formControlName="password">
            <mat-error>Password is required</mat-error>
        </mat-form-field>
        <button [disabled]="!loginForm.valid" type="submit" class="btn std-btn auth__btn">Login</button>
      </form>
      <div *ngIf="errors.length > 0" class="alert alert-danger">
        <p *ngFor="let error of errors" class="auth__error">
          {{error.detail}}
        </p>
      </div>
    </div>
  </div>
</div>
