<div class="search-overlay" [ngClass]="{'search-overlay--active': searchOpen}"><!--  -->
  <div class="search-overlay__top">
    <div class="container search-overlay__top-inner">
      <mat-icon class="search-overlay__icon" aria-hidden="false" aria-label="Search">search</mat-icon>
      <input #search
             id="search-box"
             class="search-box"
             type="text"
             placeholder="Where are you going?"
             (keyup)="searchFlats$.next($event.target.value)">
      <mat-icon class="search-overlay__close" aria-hidden="false" aria-label="Close" (click)="closeSearch()">close</mat-icon>
    </div>
  </div>
  <div class="container">
    <div class="search-overlay__results">
      <h2 *ngIf="flats.length > 0" class="search-overlay__title">
        Search result for city: "{{searchcity | lowercase}}"
      </h2>
      <h2 *ngIf="errors.length > 0" class="search-overlay__title">
        <div *ngFor="let error of errors">
          {{error.title}}
        </div>
      </h2>
      <div class="row">
        <div class="col-md-6 col-lg-4" *ngFor="let flat of flats">
          <app-flat-list-item [flat]="flat"></app-flat-list-item>
        </div>
      </div>
    </div>
  </div>
</div>